.wrap {
  position: relative;
  height: 100%;
}
.listWrap {
  margin-top: 24px;
  height: 90%;
  overflow: scroll;
}
.partsList {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.partsList li {
  border: 1px solid rgba(148, 147, 147, 0.463);
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 170px;
}
li h4 {
  font-size: 16px;
  font-weight: 400;
}
li p {
  font-size: 10px;
}
.searchField {
  border: 1px solid rgba(148, 147, 147, 0.463);
  padding: 8px;
  outline: none;
  width: 150px;
  min-width: 220px;
  color: #4a4a4a;
  position: absolute;
  top: 0;
  right: 0;
}
