:root {
  font-family: sans-serif;
  height: 100vh;
  color: #4a4a4a;
  box-sizing: border-box;

  --main-text-color: #4a4a4a;
  --second-text-color: #2a82a5;
  --light-border-color: #94939376;
  --border-style: 1px solid #94939376;
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
}

body {
}
input[type="radio"] {
  accent-color: var(--second-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
}
ul li,
ol li {
  list-style: none;
  margin: 0;
  padding: 0;
}
