.homePage {
  height: 100%;
}
.title {
  font-size: 24px;
  font-weight: 400;
  margin-left: 50px;
}
.loading {
  position: absolute;
  left: 50%;
  top: 70px;
  transform: translate(-50%);
}
.list {
  display: flex;
  flex-wrap: wrap;

  gap: 30px;
  column-gap: calc((100% - 808px) / 3);
  padding: 0 40px;
}
